@keyframes moveFifth {
    
    0% {
        bottom: 0px; 
        transform: translate(0px) scale(1);
    }
    14.285% {
        bottom: -38px;
        transform: translate(185px) scale(0.75);
    }     
    28.57% {

        bottom: -75px;
        transform: translate(330px) scale(0.50);
    }   
    42.855% {
        z-index: 1;
        bottom: -75px;
        transform: translate(-760px) scale(0.50);
    }
    57.14%  {
        z-index: 100;
        bottom: -38px;
        transform: translate(-615px) scale(0.75);
    }
    71.425% {
        bottom: 0px;
        transform: translate(-420px) scale(1);
    }
    85.71%  {
        bottom: 0px;
        transform: translate(-210px) scale(1);
    }
    99.995% {
        bottom: 0px;
        transform: translate(0px) scale(1);
    }

}