@keyframes moveFirst {
    0% {
       z-index: 100;
       bottom: 0px;
       transform: translate(0px) scale(1);
         
    }
    14.285% {
        bottom: 37px;
        transform: translate(145px) scale(1.5);
    }
    28.57% {
        bottom: 75px;
        transform: translate(340px) scale(2);
    }
    42.855% {
        bottom: 75px;
        transform: translate(550px) scale(2);
    }
    57.14% {
        bottom: 75px;
        transform: translate(760px) scale(2);
    }
    71.425% {
        bottom: 37px;
        transform: translate(945px) scale(1.5);
    }
   
    85.71% {
      
        bottom: 0px;
        transform: translate(1090px) scale(1);
    }
    99.995% {
        z-index: 1;  
        bottom: 0px;
        transform: translate(0px) scale(1);
    }


}