@keyframes moveSixth {
    
    0% {
        bottom: 0px; 
        transform: translate(0px) scale(1);
    }     
    14.285% {
   
        bottom: -37px;
        transform: translate(145px) scale(0.66);
    }
    28.57% {
        z-index: 1;
        bottom: -37px;
        transform: translate(-945px) scale(0.66);
    }
    42.855% {
        z-index: 100;
        bottom: 0px;
        transform: translate(-800px) scale(1);
    }
    57.14%  {
        bottom: 37px;
        transform: translate(-605px) scale(1.334);
    }
    71.425% {
        bottom: 37px;
        transform: translate(-395px) scale(1.334);
    }
    85.71%  {
        bottom: 37px;
        transform: translate(-185px) scale(1.334);
    }
    99.995% {
        bottom: 0px;
        transform: translate(0px) scale(1);
    }

}